div.botoes li{
    list-style-type: none;
    width: 330px;
    text-align: center;
    height: 54px;
    padding-top:14px;
    margin-bottom:40px;
    border-radius: 5px;
    /* padding: 20px 30px 20px 30px; */
}
.turma{
    background-color:#8C181B !important;
    border-radius: 5px;
}
li {
	list-style-type: none;
}
h2{
    margin-top:10px;
}
div.botoes li a{
    color: white;
    text-decoration: none;
}
a{
    font-size:18px;
    text-align: center;
}
.formulario{
    width: 560px;
    padding-left:20px;
    max-width: 100%;
}
label{
    margin-bottom: -10px;
    margin-top:20px;
    text-align: center;
    color:black;
}
#form1, #form2{
    float: left;
    margin-bottom:20px;
}
#form2{
    padding-left: 70px;
}
input.form-control{
    width: 250px;
    margin: none;
    height: 40px;
    margin-bottom:20px;
}
.formulario, label, a, .button-cadastro, input.form-control{
    display: block;
    margin-left:auto;
    margin-right:auto;
    max-width: 100%;
}
.button-cadastro{
    /* margin-top:50px !important; */
    background-color:#90C74C;
    color:white;
    border:none;
    margin-bottom: 30px;
    padding: 15px 40px 15px 40px;
    font-size:16px;
    border-radius: 5px;
}
.cadastroUsuario{
    padding: 15px 75px 15px 75px;
}
#cadastroTurma{
    max-width: 100%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:400px;
}
.formulario li{
    max-width: 100%;
    width: 250px;
    float:left;
    margin-right: 20px;
}
#cadastrarAluno{
    margin-left:0px;
}
.formularioTurma{
    max-width: 100%;
}
@media screen and (max-width: 615px) {
    .formulario, div.formulario li{
        width: 300px;
        padding-left: 0px;
    }  
    div.formulario li input, label, .button-cadastro, #cadastrarAluno,  #cadastroTurma, .formularioTurma{
        display: block;
        margin-right: auto;
        margin-left:auto;
    }
    .button-cadastro{
        margin-top:30px;
    }
    li{
        width:100%!important;
        max-width: 100%;
    }
}
@media screen and (max-width: 380px) {
    div.botoes li{
        width: 100%;
        margin-bottom:20px;
    }
    a{
        font-size:16px;
    }
    div.botoes{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h2{
        margin-top:0px;
    }

}